- if @grades.any?
  %ul.small-block-grid-1.large-block-grid-2.grades
    - @grades.each do |g|
      - if g.grade.present?
        %li
          %h2= g.grade.name
          .info
            .row
              .large-12.columns
                = truncate(g.grade.description, length: 100)
            .row
              .large-12.columns
                = link_to "ver clase", grade_path(g.grade), class: "button button-black"
- else
  .alert-box.warning{"data-alert" => ""}
    No tienes clases asignadas
