%ul.breadcrumbs
  %li
    %a{href: grades_path} Home
  %li
    %a{href: grade_path(@grade)}
      = @grade.name

%h2= @grade.name
.description
  = raw @grade.description

%hr
- @grade.lessons.each do |l|
  .lesson
    %h3= l.title
    .content
      = raw l.content
    %hr
