%ul.breadcrumbs
  %li
    %a{href: grades_path} Home
  %li
    %a{href: "javascript:;"}
      Mensajes

%h2 Mensajes

= simple_form_for Message.new do |f|
  = f.input :message, as: :text
  = f.submit "enviar mensaje", class: 'button'


.messages
  - current_user.messages_.each do |m|
    .row
      .message-box.large-8.columns.nopadding{class: m.from.class.name.underscore}
        .header
          %h3
            Mensaje de #{m.from.name || "dda"}
        .message
          = m.message
