%ul.breadcrumbs
  %li
    %a{href: grades_path} Home
  %li
    %a{href: "#"}
      Tu cuenta

%h2 Cuenta personal

= simple_form_for current_user do |f|
  .row
    .large-8.columns
      .row
        .large-12.columns
          = f.label "email"
          = f.text_field :email
          = f.error :email
      .row
        .large-12.columns
          = f.label "nombre"
          = f.text_field :first_name
      .row
        .large-12.columns
          = f.label "apellido"
          = f.text_field :last_name
      .row
        .large-12.columns
          = f.label "edad"
          = f.text_field :age

      = f.submit "modificar", class: 'button button-black'

%hr
%h2 Modificar contraseña
= simple_form_for current_user do |f|
  .row
    .large-8.columns
      .row
        .large-12.columns
          = f.label "contraseña"
          = f.password_field :password
          = f.error :password
      .row
        .large-12.columns
          = f.label "confirmar contraseña"
          = f.password_field :password_confirmation
          = f.error :password_confirmation

      = f.submit "modificar contraseña", class: 'button button-black'
