.large-5.small-12.columns.large-centered
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %div
      = f.label :email
      %br/
      = f.email_field :email, :autofocus => true
    %div
      = f.label :password
      %br/
      = f.password_field :password
    / - if devise_mapping.rememberable?
    /   %div
    /     = f.check_box :remember_me
    /     = f.label :remember_me
    %div= f.submit "entrar", class: 'button expand button-black'
  / = render "devise/shared/links"
