/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation
 *= require font-awesome
 //= require active_admin/editor/wysiwyg

 */

$background: #b03e3e;
$font: 'Arvo', serif;
$gris_claro: #efefef;

h2, p, a, td, div{
  font-family: $font !important;
}

.button-black {
  background-color: black !important;
}

body{
  background: $background !important;
  font-family: $font !important;
}

.header{
  background: white;
}

.content{
  border-radius: 0.2em;
  margin-top: 1em !important;
  background: white;
  margin-bottom: 2em !important;
  > div{
    padding: 1em;
  }
}


.grades{
  li{
    h2{
      padding: 0.5em 1em;
      background: #595959;
      color: white;
      font-size: 1.5em;
      margin: 0;
    }
    .info{
      padding: 0.5em;
      background: #ededed;
    }
  }
}

.lesson{
  h3{
    padding: 0 1em;
    border-radius: 0.2em;
    background: black;
    color: white;
  }
  .content{
    background: #f0f0f0;
    padding: 1em;
  }
}

.top-bar-section{
  ul{
    li{
      font-family: 'Lato', sans-serif !important;
    }
  }
}

.nopadding{
  padding: 0 !important;
}

.messages{
  margin: 1em;
  .message-box{
    margin: 1em 0;
    .header{
      h3{
        background: black;
        color: white;
        margin: 0 !important;
        padding: 0.2em 0.9em;
        font-size: 1.2em;
      }
    }
    .message{
      background: $gris_claro;
      padding: 1em;
    }
  }
}


.message-box{
  &.user{
    float: left;
    .header{
      h3{
        background: #1d6c99;
      }
    }
  }
  &.admin_user{
    float: right;
    .header{
      h3{
        background: #70913d;
      }
    }
  }
}
