!!!
%html
  %head
    %title Clasesde
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic", rel: "stylesheet", type: "text/css"
    = csrf_meta_tags
  %body
    .large-12.columns.large-centered.text-center.header
      .row
        = image_tag "http://www.clasesde.cl/wp-content/themes/clasesde/images/logo.png", class: 'text-center'
      .row
        %nav.top-bar{"data-topbar" => ""}
          %ul.title-area
            %li.name
              %h1
                %a{:href => "#"}
            / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
            %li.toggle-topbar.menu-icon
              %a{:href => "#"}
                %span
          %section.top-bar-section
            / Right Nav Section
            %ul.right
              %li
                %a{:href => "/"}
                  %i.fa.fa-home
                  Inicio

              - if user_signed_in?
                %li
                  = link_to account_users_path do
                    %i.fa.fa-cog
                    Cuenta personal
                %li
                  = link_to messages_path do
                    %i.fa.fa-envelope
                    Mensaje
                %li
                  = link_to destroy_user_session_path, :method => 'delete' do
                    %i.fa.fa-power-off
                    Salir

    .row.content
      .large-12.columns
        = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
