!!!
%html{lang: "es"}
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}

  %body{:bgcolor => "#b03e3e", :leftmargin => "0", :marginheight => "0", :marginwidth => "0", :style => "margin: 0px; background-color: #f7f2e4;", :topmargin => "0"}
    / 100% body table
    %table{:bgcolor => "#b03e3e", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr
        %td
          / header
          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background:url(images/header-bg.jpg); background-repeat: no-repeat; background-position: center; background-color: #fffdf9;", :width => "684"}
            %tr
              %td
                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tr
                    %td{:valign => "middle", :width => "100%"}
                      %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td{:height => "60"}
                        %tr
                          %td
                            %h1{:style => "color: #333; margin-top: 0px; margin-bottom: 0px;text-align: center; font-weight: normal; font-size: 48px; font-family: Georgia, 'Times New Roman', Times, serif"}
                              Clasesde.cl
          / /header
          / email container
          %table{:align => "center", :bgcolor => "#fffdf9", :border => "0", :cellpadding => "30", :cellspacing => "0", :width => "684"}
            %tr
              %td
                / email content
                %table#email-content{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "624"}
                  %tr
                    %td
                      / section 1
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                        %tr
                          %td{:align => "left", :valign => "top"}

                            / /line break
                            %h1{:style => "font-size: 36px; font-weight: normal; color: #333333; font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 0px; margin-bottom: 20px;"}
                              Nuevo mensaje
                            %p{:style => "font-size: 16px; line-height: 22px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"}
                              Tienes un nuevo mensaje de #{@user.name}(#{@user.email})
                            %p{:style => "font-size: 16px; line-height: 22px; font-family: Georgia, 'Times New Roman', Times, serif; color: #333; margin: 0px;"}
                              Mensaje: #{@message.message}
                            %p
                              Puedes responder este mensaje ingresando
                              - if @user.class.name.underscore == "user"
                                = link_to "aquí", "http://app.clasesde.cl/admin/login", target: "_blank"
                              - else
                                = link_to "aquí", "http://app.clasesde.cl", target: "_blank"


                / /email content
          / /email container
          / footer
          %table{:align => "center", :border => "0", :cellpadding => "30", :cellspacing => "0", :width => "680"}
            %tr
              %td{:valign => "top"}
                %p{:style => "font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;"}
                  clasesde.cl
            %tr
              %td{:height => "30"}
              %td{:height => "30"}
          / /footer
    / /100% body table
